body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h3 {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 100px;
	line-height: 100px;
	color: #ffff;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
}

#avatar__glasses {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 150px;
}

#avatar__glasses .col-4 {
	padding: 0;
}

#avatar__glasses img {
	width: 100%;
	object-fit: cover;
}

#avatar__glasses .mockup {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

#avatar__glasses .glasses__mockup {
	position: absolute;
	top: 125px;
	left: 88px;
	width: 206px;
}

.list__glasses {
	margin-top: 80px;
	padding: 15px;
	z-index: 100;
	background-color: #fff;
}

.glasses__item img {
	margin-top: 15px;
	width: 100%;
	height: 100%;
	object-fit: contain;
	cursor: pointer;
}

#avatar__glasses .glasses__info {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 35%;
	padding: 15px;
	text-align: left;
	background-color: rgba(238, 128, 65, 0.253);
}

#avatar__glasses .name__glasses {
	font-size: 24px;
	color: blue;
}

#avatar__glasses .glasses__info p {
	color: #ffff;
	font-size: 20px;
	line-height: 1.2;
}
